.carousel-item {
  margin: 0 0.35rem;
  border-radius: 0.5rem;
  border: none;
  position: relative;
  max-width: 266.76px;
  justify-self: center;
  color: white;
}
.carousel-item img {
  object-fit: cover;
  width: 266.76px;
  border-radius: 0.5rem;
  height: 400px;
}

.carousel-item .movie-info {
  position: absolute;
  top: 47%;
  left: 25.5%;
  display: none;
  background: black;
  color: white;
  padding: 1rem 2rem;
}
.carousel-item:hover .movie-info {
  display: block;
}

