.navbar {
  color: white;
  position: fixed;
  width: 100%;
  display: grid;
  background-color: transparent;
  grid-template-columns: 4fr 1fr;
  z-index: 4;
  height: max-content;
}
.navbar_logo {
  width: 200px;
  aspect-ratio: 1/0.7;
  margin-left: 1rem;
}
.navbar_ul {
  display: flex;
  align-items: center;
}
.navbar_li {
  margin: 0 0.65rem;
  position: relative;
  width: max-content;
}
.navbar_li .user_settings {
  background: black;
  position: absolute;
  left: -4.5rem;
  top: 2rem;
  border-radius: 0.25rem;
  display: grid;
  gap: 1.25rem;
  padding: 1.5rem;
}
.navbar_li .user-settings-btn svg {
  position: relative;
  z-index: 9;
}
.navbar_li .search-input {
  background: black;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 0.25rem;
  width: 230px;
  padding: 0 2.5rem;
  height: 40px;
  margin: 0 auto;
  color: white;
  outline: none;
  box-sizing: border-box;
}
.navbar_li span {
  font-weight: 400;
  display: inline-block;
  margin-left: 0.25rem;
}
.navbar_li .search-input::placeholder {
  color: white;
}
.navbar_li .search-input-icon svg {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
}
.navbar_li .search-input-close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
.user_img {
  width: 50px;
  object-fit: cover;
  aspect-ratio: 1;
}
.navbar_li button {
  background: none;
  color: white;
  padding: 0;
}
.nav-background {
  background-color: var(--clr-main);
}
.open-nav-button,
.close-nav-button {
  display: none;
}
.hide-nav {
  display: none;
}
.show-nav {
  display: grid;
}
@media (max-width: 768px) {
  .navbar {
    background: black;
    grid-template-columns: 1fr;
    gap: 0;
    height: 100vh;
  }
  .navbar_ul {
    flex-direction: column;
  }
  .navbar_li {
    margin: 0.5rem;
    font-size: var(--fs-600);
  }
  .open-nav-button,
  .close-nav-button {
    display: inline-block;
    position: fixed;
    top: -0.5rem;
    right: -1rem;
    background: none;
    z-index: 99999;
  }
  .open-nav-button svg,
  .close-nav-button svg {
    font-size: var(--fs-800);
    color: white;
  }
  .navbar_li .user_settings {
    left: -50px;
    top: -7.5rem;
    font-size: 1.25rem;
  }
}
