.carousel {
  position: relative;
  margin: 2rem 0;
}
.carousel-wrapper {
  display: flex;
  margin: 2rem 0rem;
  width:max-content;
  transition: 0.6s ease all;
}
.carousel h1 {
  margin-left: calc(1rem + 10.4px);
  font-weight: 700;
}
.carousel-next-button,
.carousel-prev-button {
  background: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  cursor: pointer;
  height: 87.3%;
  position: absolute;
  padding:0 0.5rem;
  top: 3.7rem;
  font-size: var(--fs-700);
}
.carousel-next-button{
  right: 0;
}
.carousel-prev-button {
  left: 0;
}
