.featuredmovie_image {
  width: 100%;
  height: 90vh;
  object-fit:cover;
  z-index: -1;
  position: relative;
}

.featuredmovie_data {
  color: white;
  position: absolute;
  top: 30%;
  margin-left: calc(1rem + 10.4px);
}
.featuredmovie_data_title {
  font-size: var(--fs-800);
  font-weight: 900;
}
.featuredmovie_data_description {
  max-width: 60ch;
}
.featuredmovie_data_buttons {
  margin-top: 1rem;
  display: flex;
}
.featuredmovie_data_buttons a,
button {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: 500;
  color: black;
  transition: 0.5s all;
}
.featuredmovie_data_buttons a,
button span {
  margin-left: 0.1rem;
}

.featuredmovie_data_buttons_playBTN {
  background-color: #ffffffd7;
  color: var(clr-main);
}
.featuredmovie_data_buttons_playBTN:hover {
  background-color: #ffffff;
}
.featuredmovie_data_buttons_infoBTN {
  background-color: rgba(136, 136, 136,0.5);
  color: white;
  margin-left: 0.75rem;
}

.featuredmovie_data_buttons_infoBTN:hover {
  background-color: rgba(142, 140, 140,0.6);
}

